header {
    color: var(--primary-color);
    display: flex;
    font-size: 1rem;
    padding: 1.8rem;
    align-items: center;
    justify-content: end;
    font-weight: 300;
    position: fixed;
    width: 95.5%;
    background-color: #FFF;
    z-index: 1;
    top: 0rem;
}

#collapse-button{
    display: none;
}

header > img {
    margin-right: auto;
}

header > ul > li {
    margin: 0rem 2rem 0rem 2rem;
}

header > a {
    color: #FFF !important;
    background-color: var(--primary-color);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
}

ul {
    display: flex;
}

@media ( max-width:1200px ){

    #collapse-button{
        display: block;
        margin: 0rem 0rem 0rem 0.5rem;
        cursor: pointer;
    }

    header > ul {
        display: none;
    }

    header > .active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5.75rem;
        background-color: #FFF;
        padding: 2rem;
    }

    header > .active > li {
        margin: 0rem 5rem 1rem 0rem;
    }

    .bi {
        width: 2rem;
        height: 2rem;
    }
}